/*GLOBAL STYLES*/ 
.body {
    margin: 0;
    font-family: Arial, sans-serif;
}
nav {
    background-color: grey;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
/*INDEX PAGE STYLES*/
.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #e6f2ff;
}
.hero-banner {
    width: 100%;
    overflow: hidden;
}
.hero-banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: flex;
}
.hero h2 {
    font-size: 40px;
    color: #1e90ff;
    margin-bottom: 10px;
}
.hero p {
    font-size: 18px;
    margin-bottom: 20p;
}
.btn {
    background-color: #1e90ff;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.btn:hover {
    background-color: #1877d4;
}
.welcome-section {
    text-align: center;
    padding: 40px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}
.welcome-section h2 {
    color: #1e90ff;
}
.welcome-section p {
    font-size: 16px;
    line-height: 1.8;
}
.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
}
.feature-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}
.feature-box h2 {
    color: #1e90ff;
}
footer {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}   

/*ABOUT PAGE STYLES*/
.about-container {
    background-color: white;
    padding: 80px;
    margin: 40px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.about-container h3{
    text-align: cnter;
    color: #1e90ff;
    margin-bottom: 30px;
}
.about-container p{
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
}
.vision, .mission {
    background-color: #e8f4ff;
    border-left: 5px solid #1e90ff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}
footer {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

/*CONTACT PAGE STYLES*/
.contact-container {
    width: 80%;
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.contact-form {
    width: 50%;
    margin: auto;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}
.contact-form textarea{
    resize: vertical;
}
.contact-form button {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #1877d4;
}
.contact-info {
    margin-top: 25px;
    text-align: center;
}
.contact-info p{
    margin-bottom: 8px 0;
}
footer {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

/*SERVICES PAGE STYLES*/
.page-title {
    text-align: center;
    color: #1e90ff;
    margin: 30px 0 10px;
}
.services { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}
.service-card{ 
    background-color: white;;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s ease;
    text-align: center;
}
.service-card:hover{ 
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(102, 126, 234, 0.4);
}
.service-card img{ 
    width: 100%;
    height: 180px;
    object-fit: cover;
    filter: brightness(0.9);
}
.service-content{ 
    padding: 15px;
}
.service-content h3{
    color: #1e90ff; 
    margin: 10px 0;
}
.service-content p{ 
    margin: 0;
    font-size: 15px;
    opacity: 0.9;
    line-height: 1.5;
}
.price {
    font-weight: bold;
    margin: 10px 0;
}
.service-content button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #1e90ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.service-content button:hover {
    background-color: #1877d4;
}
footer {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

/*GALLERY PAGE STYLES*/
.gallery-title {
    text-align: center;
    color: #1e90ff;
    margin: 30px 0;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.gallery img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}
.gallery img:hover {
    transform: scale(1.05)
}
.gallery-item {
    text-align: center;
}
.gallery-item p {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}
footer {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}


